.close-search {
    margin:  auto;
    position: absolute;
    right: 122px;
    text-align: center;
    align-self: center;
    font-size: 18px;
    cursor: pointer;
}

.close-search:hover {
    color: #7e39ff;
    font-weight: bold;
    font-size: 19px;
}

.searched-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 50px;
    border: .5px;
    box-shadow: 6px 8px 8px 1px rgba(0,0,0,0.5);
    width: 1400px;
}

.searched-customer-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    /* align-items: center;
    justify-items: center; */
    padding: 20px;
    margin-bottom: 20px;
    /* border: .5px;
    box-shadow: 6px 8px 8px 1px rgba(0,0,0,0.5); */
    position: relative;
    width: 1400px;
}

.searched-notes-container {
    text-align: center;
}

.dist-title {
    text-align: center;
    font-weight: bold;
  }
  
  .list-title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    background-color: rgb(9,138,0);
    background-color: #7e39ff;
    color: white;
    padding: 10px;
    font-size: 1.3rem;
  }

.accordian-container {
    margin: 0 auto;
    cursor: pointer;
    border-bottom: .5px solid gray;
}

.accordian {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 30px 0;
    position: relative;
    padding: 30px 0;
    
}

.accordian:hover {
    background-color: #e7d5ff;
}

.dist-edit-container {
    display: inline;
    position: absolute;
    right: 60px;
    bottom: 27px;
}

.dist-edit-container img {
    margin-right: 20px;
    cursor: pointer;
    width: 17px;
}

.textarea-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
 
}

.accordian-container textarea {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    height: 50px;
    width: 1150px;
    padding: 10px;
    box-shadow: 2px 3px 3px 1px rgba(0,0,0,0.5);
    border: 1px solid black;
  }

  
