/* .form-container {
    margin: 100px auto;
    display: flex;
    align-items: center;
    background-color: #7e39ff;
    width: 850px;
    height: 570px;
    border-radius: 10px;
}
.login-form {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    width: 700px;
    background-color: white;
    height: 400px;
} */