.new-cust-container {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.new-cust-container label, input {
    margin: 20px;
}

.new-cust-container input {
    padding: 7px;
}

.new-cust-container button {
    height: 31px;
    width: 75px;
    margin: auto 0;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0 20px;

    position: relative;
}

.search-container button {
    margin-left: 20px;
    height: 31px;
    width: 75px;
}
