.new-cust-container {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.new-cust-container label, input {
    margin: 20px;
}

.new-cust-container input {
    padding: 7px;
}

.new-cust-container button {
    height: 31px;
    width: 75px;
    margin: auto 0;
}

.search-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
    width: 500px;
    position: relative;
}

.search-div {
    display: flex;
    justify-content: center;
    justify-content:baseline;
    align-items: end;
}

.search-container button {
    margin-left: 20px;
    margin-bottom: 4px;
    height: 31px;
    width: 75px;
    position: relative;
}

.search-container input {
    margin-bottom: 0;
}

.search-error {
    color: red;
    margin-top: 0;
    position: relative;
    right: 42px;
}
