.dist-edit-container {
    /* display: inline;
    position: absolute;
    right: 60px;
    bottom: 27px; */
    
}

.dist-edit-container img {
    margin-right: 20px;
    cursor: pointer;
    width: 17px;
}

/* .dist-edit-container img {
    width: 20px;
} */

.dist-edit-container img:hover {
    filter: invert(28%) sepia(96%) saturate(4252%) hue-rotate(253deg) brightness(99%) contrast(104%);
}