
.navbar {
    background-color: #7e39ff;
    padding: 20px 10px;
}

.navbar ul {
    display: flex;
    margin: 0 auto;
    align-items: center;
    max-width: 960px;
}

.navbar a{
    text-decoration: none;
    margin-left: 16px;
    border-radius: 16px;
    padding: 6px 20px;
    color: white;
    border: 2px solid #7e39ff;
    cursor: pointer;
}

.navbar li {
    list-style-type: none;
}

.navbar-logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 2px;
}

.navbar-link {
    border-radius: 16px;
    padding: 6px 13px;
    color: white;
    border: 2px solid #7e39ff;
    cursor: pointer;
}

.navbar-link :hover {
    color: white;
    background-color: #7e39ff;
    border: 1.5px solid white;
}



