#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  
  
  font-family: 'Poltawski Nowy', serif;
  font-family: 'Roboto', sans-serif;
  max-width: 1800px;
}

body {
  margin: 0;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 200px;
  gap: 20px;
}

.nav-loggedIn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #d0cbda;
}

.logo {
  font-weight: bolder;
  letter-spacing: 2px;
  color: #7e39ff;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 40px;
  border-radius: 30px;
  margin-right: 20px;
  border: 2px solid rgb(0, 0, 0);
}

.btn-logout {
  border-radius: 16px;
  padding: 6px 13px;
  color: #7e39ff;
  border: 2px solid #7e39ff;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #7e39ff;
  color: white;
}

.dist-title {
  text-align: center;
  font-weight: bold;
}

.list-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-bottom: 15px;
  background-color: rgb(9,138,0);
  background-color: #7e39ff;
  color: white;
  padding: 10px;
  font-weight: bold;
}

.customer-detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
  
}

